.quill p,
.preview {
  direction: rtl;
  text-align: start;
  font-size: medium;
  width: 100%;
}

.quill h1,
.quill h2 {
  text-align: right;
}

.quill textarea {
  min-height: 30vh;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.small {
  font-size: small;
}

.large {
  font-size: large;
}

.huge {
  font-size: xx-large;
}